.photo-grid__list {
	list-style: none;
	margin: 0px auto;
	padding: 0px;
	display: grid;
	grid-template-columns: repeat(auto-fill, 284px);
	justify-content: center;
	gap: 16px;
}
@media screen and (max-width: 1200px) {
    .photo-grid__list {
    		grid-template-columns: repeat(auto-fill, 300px);
    		gap: 14px;
    	}
}
@media screen and (max-width: 950px) {
    .photo-grid__list {
    		grid-template-columns: repeat(auto-fill, 352px);
    		gap: 16px;
    	}
}
@media screen and (max-width: 400px) {
    .photo-grid__list {
    		grid-template-columns: 288px;
    		gap: 12px;
    	}
}