.photo-grid__list {
	list-style: none;
	margin: 0px au;
	padding: 0px;
	display: grid;
	grid-template-columns: repeat(4, 284px);
	gap: 16px;
}

@media screen and (max-width: 1260px) {
	.photo-grid__list {
		margin: 0px auto;
		max-width: 928px;
		padding: 92px 0px 92px 0px;
		grid-template-columns: repeat(3, 300px);
		gap: 14px;
	}
}

@media screen and (max-width: 1000px) {
	.photo-grid__list {
		max-width: 720px;
		padding: 88px 0px 88px 0px;
		grid-template-columns: repeat(2, 352px);
		gap: 16px;
	}
}

@media screen and (max-width: 800px) {
	.photo-grid__list {
		margin: 0px auto;
		max-width: 500px;
		padding: 64px 0px 64px 0px;
		grid-template-columns: 1fr;
		gap: 12px;
	}
}