.footer__items {
	display: flex;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
@media screen and (max-width: 768px) {
    .footer__items {
    		max-width: 720px;
    		/* flex-direction: column; */
    	}
}
@media screen and (max-width: 620px) {
    .footer__items {
    		max-width: 186px;
    		flex-direction: column;
    	}
}