.header {
	margin: 0px 48px;
	max-width: 1184px;
	min-height: 52px;
	padding: 28px 0px 56px;
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width: 1024px) {
    .header {
    		max-width: 928px;
    		padding-bottom: 48px;
    	}
}
@media screen and (max-width: 768px) {
    .header {
    		max-width: 720px;
    		margin: 0px 24px 0px;
    	}
}
@media screen and (max-width: 320px) {
    .header {
    		max-width: 288px;
    		min-height: 42px;
    		margin: 0px 16px 0px;
    		padding-top: 16px;
    	}
}