.cover {
	width: 100%;
	max-width: 1184px;
	margin: 0px auto;
	padding-top: 92px;
	padding-bottom: 92px;
	text-align: center;
}

@media screen and (max-width: 720px) {
	.cover {
		padding-top: 90px;
		padding-bottom: 88px;
	}
}

@media screen and (max-width: 320px) {
	.cover {
		padding-top: 90px;
		padding-bottom: 88px;
	}
}