.footer__item {
	margin-right: 18px;
}
@media screen and (max-width: 670px) {
    .footer__item {
    		margin-right: 0px;
    		margin-bottom: 32px;
    	}
}
.footer__item:last-child {
	margin-right: 0px;
}