.footer {
	width: 100%;
	max-width: 1184px;
	max-height: 18px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	padding: 0px 48px 24px;
}

@media screen and (max-width: 1024px) {
	.footer {
		max-width: 928px;
	}
}

@media screen and (max-width: 768px) {
	.footer {
		max-width: 720px;
		padding: 0px 24px 24px;
		/* flex-direction: column; */
	}
}

@media screen and (max-width: 620px) {
	.footer {
		max-width: 186px;
		min-height: 310px;
		margin: 0px;
		flex-direction: column;
		padding-left: 16px;
	}
}